In [6]:
import pandas as pd
import time

In [11]:
print(pd.date_range(start = time.strftime('%Y-%m-%d'),periods = 12,freq = '1h'))

DatetimeIndex(['2023-02-28 00:00:00', '2023-02-28 01:00:00',
               '2023-02-28 02:00:00', '2023-02-28 03:00:00',
               '2023-02-28 04:00:00', '2023-02-28 05:00:00',
               '2023-02-28 06:00:00', '2023-02-28 07:00:00',
               '2023-02-28 08:00:00', '2023-02-28 09:00:00',
               '2023-02-28 10:00:00', '2023-02-28 11:00:00'],
              dtype='datetime64[ns]', freq='H')

In [19]:

# 导入tushare
import tushare as ts
# 初始化pro接口
pro = ts.pro_api('55e32ea804a9a5eb666d9a47c2203377e0b2bc3751b16132a916ef4e')

# 拉取数据
df = pro.daily(**{
    "ts_code": "000002.SZ",
    "trade_date": "",
    "start_date": "",
    "end_date": "",
    "offset": "",
    "limit": ""
}, fields=[
    "ts_code",
    "trade_date",
    "open",
    "high",
    "low",
    "close",
    "pre_close",
    "change",
    "pct_chg",
    "vol",
    "amount"
])
print(df)

        ts_code trade_date   open   high    low  close  pre_close  change  \
0     000002.SZ   20230228  17.23  17.26  16.91  17.14      17.18   -0.04
1     000002.SZ   20230227  17.23  17.40  17.16  17.18      17.22   -0.04
2     000002.SZ   20230224  17.51  17.54  17.13  17.22      17.47   -0.25
3     000002.SZ   20230223  17.46  17.64  17.40  17.47      17.43    0.04
4     000002.SZ   20230222  17.41  17.53  17.40  17.43      17.63   -0.20
...         ...        ...    ...    ...    ...    ...        ...     ...
5995  000002.SZ   19970717  15.50  16.93  15.20  16.42      15.39    1.03
5996  000002.SZ   19970716  15.33  15.89  15.15  15.39      15.33    0.06
5997  000002.SZ   19970715  15.70  15.72  15.01  15.33      15.60   -0.27
5998  000002.SZ   19970714  15.80  16.00  15.31  15.60      15.08    0.52
5999  000002.SZ   19970711  16.80  17.60  16.60  17.59      16.85    0.74

      pct_chg        vol        amount
0     -0.2328  734644.03  1.250302e+06
1     -0.2323  369424.10  6.376721e+05
2     -1.4310  522141.88  9.010309e+05
3      0.2295  402953.86  7.052861e+05
4     -1.1344  374754.20  6.534840e+05
...       ...        ...           ...
5995   6.6900   75611.00  1.207104e+05
5996   0.3900   30795.00  4.763078e+04
5997  -1.7300   38764.00  5.915810e+04
5998   3.4500   57550.00  9.063735e+04
5999   4.3900   66483.00  1.140601e+05

[6000 rows x 11 columns]

In [20]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000002.SZ,20230228,17.23,17.26,16.91,17.14,17.18,-0.04,-0.2328,734644.03,1.250302e+06
1,000002.SZ,20230227,17.23,17.40,17.16,17.18,17.22,-0.04,-0.2323,369424.10,6.376721e+05
2,000002.SZ,20230224,17.51,17.54,17.13,17.22,17.47,-0.25,-1.4310,522141.88,9.010309e+05
3,000002.SZ,20230223,17.46,17.64,17.40,17.47,17.43,0.04,0.2295,402953.86,7.052861e+05
4,000002.SZ,20230222,17.41,17.53,17.40,17.43,17.63,-0.20,-1.1344,374754.20,6.534840e+05
...,...,...,...,...,...,...,...,...,...,...,...
5995,000002.SZ,19970717,15.50,16.93,15.20,16.42,15.39,1.03,6.6900,75611.00,1.207104e+05
5996,000002.SZ,19970716,15.33,15.89,15.15,15.39,15.33,0.06,0.3900,30795.00,4.763078e+04
5997,000002.SZ,19970715,15.70,15.72,15.01,15.33,15.60,-0.27,-1.7300,38764.00,5.915810e+04
5998,000002.SZ,19970714,15.80,16.00,15.31,15.60,15.08,0.52,3.4500,57550.00,9.063735e+04
5999,000002.SZ,19970711,16.80,17.60,16.60,17.59,16.85,0.74,4.3900,66483.00,1.140601e+05